@font-face {
    font-family: "Dirooz";
    src: url("../Font/Dirooz.woff");
}

:root {
    --color-purple-primary: #4c0083;
    --color-white: #fff;
    --color-gray-dark: #e0e0e0;
    --color-gray-light: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Dirooz;
}

.container {
    margin: 40px auto 0;
    padding: 0 15px;
}
@media screen and (min-width: 750px) {
    .container {
        max-width: 760px;
    }
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-bottom: 10px;
}

.heading i {
    font-size: 20px;
    color: #555;
    margin-left: 10px;
}

.heading h3 {
    font-size: 17px;
    color: var(--color-purple-primary);
}

.filter {
    margin-bottom: 5px;
}

.filter--bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.filter--bottom-box > button {
    border: 0;
    background: none;
}
.filter--bottom-box > button img {
    display: block;
    width: 45px;
}
@media screen and (max-width: 400px) {
    .filter--bottom-box > button img {
        width: 35px;
        height: 35px;
    }
}

.filter--bottom-box .search-field {
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
    position: relative;
    flex: 1;
}
@media screen and (max-width: 400px) {
    .filter--bottom-box .search-field {
        height: 35px;
    }
}
.filter--bottom-box .search-field__input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #aaa;
    background: var(--color-gray-light);
    font-size: 15px;
}

.filter--bottom-box .search-field__input:focus::placeholder,
.filter--bottom-box .search-field__input:focus {
    color: #888;
}
.filter--bottom-box .search-field__input::placeholder {
    color: #aaa;
    font-size: 15px;
    transition: all 0.3s;
}
@media screen and (max-width: 550px) {
    .filter--bottom-box .search-field__input::placeholder {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    .filter--bottom-box .search-field__input::placeholder {
        font-size: 12px !important;
    }
}
@media screen and (max-width: 550px) {
    .filter--bottom-box .search-field__input {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    .filter--bottom-box .search-field__input {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .filter--bottom-box .search-field__icon {
        width: 17px;
    }
}

.search-button {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-purple-primary) !important;
    border-radius: 6px;
}
@media screen and (max-width: 400px) {
    .search-button {
        width: 35px;
        height: 35px;
    }
}
.search-button svg {
    width: 25px;
    stroke: var(--color-white);
    transition: all 0.3s;
}
@media screen and (max-width: 400px) {
    .search-button svg {
        width: 17px;
    }
}

.tabel-container .tabel {
    font-size: 13px;
    border-spacing: 0 8px;
    width: 100%;
    text-align: center;
}

.tabel-container .tabel__tr {
    text-wrap: nowrap;
    height: 35px;
}
.tabel-container .tabel__tr:first-child {
    background: var(--color-gray-dark);
}
.tabel-container .tabel__tr:not(:first-child) {
    background: var(--color-gray-light);
}

.tabel-container .tabel__th {
    padding: 0 !important;
}

.tabel-container .tabel__th:first-child,
.tabel-container .tabel__td:first-child {
    text-align: right;
    padding-right: 10px !important;
}

.tabel-container .tabel__th:nth-child(2),
.tabel-container .tabel__th:first-child {
    width: 40%;
} 

.tabel-container .tabel__th:last-child {
    width: 20%;
}

.tabel-container .tabel__th:not(:first-child) {
    text-align: center;
}

.tabel__td:last-child {
    position: relative;
}

.tabel__td--activeCircle::after {
    content: "";
    width: 8px;
    height: 8px;
    background: var(--color-purple-primary);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}